.sectionContainer {
  height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  padding: 2.5vw 2.5vw 2.5vw 2.5vw;
  display: flex;
  align-items: center;
  position: relative;
  gap: 2.5vw;
  margin-bottom: 10vw;
}

.leftContainer {
  width: 50%;
  height: 100%;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.simulatorWrapper {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FeaturedImageWrapper {
  width: 50%;
  aspect-ratio: 1;
  max-width: 750px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}

.rightContainerWrapper {
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
}

.TextHeaderWrapper {
  width: 100%;
  font-size: var(--font-size-m);
  margin-bottom: 2.5vw;
  letter-spacing: -0.1vw;
  line-height: 3vw;
}

.TextHeaderWrapper h2 {
  font-weight: 300;
}
.TextParagraphWrapper {
  width: 100%;
  font-size: var(--font-size-s);
  font-weight: 300;
  line-height: 1.7vw;
}

.sectionTitleContainer {
  width: 100%;
  margin-bottom: 30%;
  font-size: var(--font-size-l);
  display: flex;
  text-transform: uppercase;
}

.sectionTitleContainer p {
  font-size: var(--font-size-s);
  padding-top: 8px;
}
